:root {
    --body-bg-color: #19325C;
    --bg-color: rgba(236, 236, 236, 0.2);
    --content-bg-color: lightgray;
    --main-text-color: #ECECEC;
    --main-nav-link-color: #000000;
    --link-hover-color: rgb(247, 247, 247);
    --bg-hover-color: #A4F2Df;
    --text-hover-color: #E33054;
}


@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype');
}

body {
    background-color: var(--body-bg-color);
    font-family: Lato;
}

button,
input,
textarea {
    font-family: inherit;
}

/* Structure */
.col-1-of-3 {
    /* border: 3px solid #000000; */
    margin: 15px 0px;
}


.header-top-container,
.header-bottom-container {
    background: var(--content-bg-color);
    border-radius: 20px;
}

.header-bottom-container {
    margin-top: 20px;
}

.header-top-container,
.header-bottom-container,
main {
    background-color: var(--bg-color);
    box-shadow: 0 0 10px;
}

.signin-form,
.main-logo,
.your-cart {
    padding: 20px 0px;
}

.flex-container {
    display: flex;
}

main {
    /* background-color: var(--content-bg-color); */
    border-radius: 20px;
    padding: 20px 0px;
    margin: 30px 0px;
    /* text-align: center; */
}
table {
    width: 100%;
}

footer {
    padding-top: 20px;
}

footer p {
    text-align: center;
    /* padding-top: 20px; */
    color: var(--main-text-color);
}
/***/
footer a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 3px;
    border-radius: 5px;
    transition: background-color 0.25s ease-out;
}
.input-box {
    margin-bottom: 5px;
}
#login-button {
    margin-left: 5px;
}

.checkout-form,
.your-cart-section {
    padding-left: 0px;
    text-align: center;
}


#content {
    /* background: var(--bg-color); */
    padding: 5px;
    margin: auto; /* center horizontally */
    border-radius: 5px;
}

.block {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: 18px 0px;
    color: var(--main-text-color);
}

.main-logo img {
    display: block;
    margin: auto;
}

/***/
.main-logo img {
    max-width: 300px;
}

.table-img img {
    max-width: 150px;
}

.main-logo a {
    display: block; 
    margin: auto;
}
#total-price-text {
    text-align: center;
}

.signin-form,
.your-cart {
    justify-content: center;
    align-items: center;
}

.signin-form h3 {
    margin-top: 0px;
}

/**/
form h3,
::placeholder,
main h2,
#total-price-text, 
td {
    color: var(--main-text-color);
}

/**/
#your-cart-button,
#login-button,
#btn-keep-shopping,
#btn-pay-now,
input {
    background-color: transparent;
    color: var(--main-text-color);
    border-radius: 20px;
    padding: 10px 15px;
    border: 1px solid var(--main-text-color);
    transition: background-color 0.25s ease-out;
}

#your-cart-button,
#login-button,
#btn-keep-shopping,
#btn-pay-now {
    background-color: var(--main-text-color);
    color: var(--body-bg-color);
    transition: background-color 0.25s ease-out;
}

/**/
#your-cart-button:hover,
#login-button:hover,
#btn-keep-shopping:hover,
#btn-pay-now:hover,
input:focus {
    background-color: var(--bg-hover-color);
    border: 1px solid var(--body-bg-color);
    color: var(--body-bg-color);
    cursor: pointer;
}

.btn-section {
    text-align: center;
    /* margin: 20px 0px; */
}

.btn-section button {
    margin: 20px 0px;
}

/* td img {
    display: block;
    margin: auto;
} */

table {
    border-spacing: 0 1em;
    padding: 0px 40px;
}

/* table img {
    display: block; 
    margin: auto;
} */

.table-img {
    width: 40%;
}

.main-form {
    padding-left: 0 !important;
    text-align: center;
}


/* Navigation */
#main-nav li {
    list-style-type: none;
    padding: 15px;
}

#main-nav ul {
    padding-left: 0;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    color: var(--main-nav-link-color);
    font-size: 30px;
}

/**/
#main-nav a {
    color: var(--main-text-color);
}

/**/
#main-nav a {
    padding: 20px 40px;
    border-radius: 20px;
    display: block;
    transition: background-color 0.25s ease-out;
}

/**/
#main-nav a:hover,
footer a:hover {
    background-color: var(--bg-hover-color);
    color: var(--body-bg-color);
    cursor: pointer;
}

/* Typography */

/* Hamburger menu */
#hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--main-text-color);
    margin: 6px 0;
    padding-left: 5px;
    transition: background-color 0.25s ease-out;
}

/**/
#hamburger {
    margin: auto;
    background-color: var(--bg-color);
    border-radius: 20px;
    width: 30px;
    /* margin: 30px; */
    padding: 10px 30px;
    box-shadow: 0 0 10px;
    transition: background-color 0.25s ease-out;   
}

/**/
#hamburger:hover {
    background-color: var(--bg-hover-color);
}

/**/
#hamburger:hover div {
    background-color: var(--body-bg-color);
}

.hide {
    display: none;
}

.hide-small {
    display: none;
}

/* For larger resolutions */
@media only screen and (min-width: 768px) {

    .hide-small {
        display: block;
    }
    
    #hamburger {
        display: none;
    }

    .columns,
    .main-columns,
    .flex-image-title {
        display: flex;
    }

    /* .btn-section {
        justify-content: center;
        align-items: center;
    } */

    .checkout-form,
    .your-cart-section {
        padding-left: 40px;
        text-align: left;
    }

    #content {
        width: 80%;
    }

    .header-top-container {
        justify-content: space-between;
    }

    .col-1-of-3,
    .col-1-of-2,
    #main-nav li,
    #main-nav {
        flex: 1;
    }

    .signin-form {
        justify-content: flex-start;
        padding-left: 80px;
        /* order: 1; */
    }

    .your-cart {
        justify-content: flex-end;
        padding-right: 110px;
    }

}

@media only screen and (max-width: 1300px) {
    .main-columns {
        display: block;
    }

    main h2 {
        text-align: center;
        /* padding-left: 0px; */
    }

    .main-form {
        padding-left: 15%;
    }
}

@media only screen and (max-width: 1005px) {
    #main-nav-list,
    .header-top-container {
        flex-direction: column;
    }

    .header-top-container {
        justify-content: center;
        align-items: center;
    }

    .signin-form {
        padding-left: 0px;
    }
    .your-cart {
        padding-right: 0px;
    }
}
@media only screen and (max-width: 1327px) {
    #login-button {
        margin-top: 5px;
    }
}