body {
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFF;
}

/* Structure */

/* Structure for Headers */
#header-top {
    background: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

}

#main-header {
    padding: 5px;
    width: 60%;
    height: 85px;
    margin: auto; 
    border-radius: 5px;
    position: relative;
}

#usc-logo-top {
    position: relative;
    top: 30px;
}

/* #search-bar {
    position: relative;
    border: 1px solid #FFFFFF;
    width: 275px;
    height: 35px;
    bottom: 15px;
    left: 825px;
} */

#main-menu {
    background: transparent;
    position: absolute;
    right: 0px;
    /* width: 400px; */
    /* height: 20px; */
}

#main-menu-nav ul {
    padding-left: 0px;
    margin: 0px;
    margin-right: 25px;
}

#main-menu p {
    margin: 0px;
}

/* #search-bar p {
    padding: auto;
} */

#main-menu li {
    margin: 0px;
}

#main-menu-nav a {
    text-decoration: none;
    padding: 0px;
    /* display: inline-block; */
    /* width: fit-content; */
}

/* #content {
    background: #fff;
    padding: 5px;
    width: 60%;
    margin: auto; 
    border-
    radius: 5px;
} */

/* Navigation */
#main-menu-nav li {
    padding: 5px;
    /* padding-top: 0px; */
    line-height: 0px;
    list-style-type: none;
    text-align: center;
}



/* Typography */

h1 {
    color: darkslategray;
}
#main-menu-nav p {
    font-weight: bold;
}
#main-menu-nav a, p {
    color: #FFFFFF;
    font-size: 9px;
}

/* #search-bar p {
    font-weight: bold;
    font-size: 15px;
} */

/* For larger resolutions */
@media only screen and (min-width: 768px) {
    .flex-main-nav,
    #main-menu-nav,
    .flex-container {
        display: flex;
    }

    #main-menu,
    #usc-logo-top {
        flex: 1;
    }  

    /* #search-bar {
        flex: 1;
    } */


    #main-menu-nav {
        /* flex-direction: row; */
    }



    #search-bar {
        position: relative;
        border: 1px solid #FFFFFF;
        width: 275px;
        height: 35px;
        bottom: 15px;
        left: 825px;
    }


    #search-bar p {
        padding: auto;
    }

    #search-bar p {
        font-weight: bold;
        font-size: 15px;
    }
    /* #usc-logo-top {
        flex: 1;
    }

    #search-bar {
        flex: 1;
    } */

    

    /* #main-menu-nav li {
        flex: 1;
    }*/
} 