:root {
    --background-color: #32323B;
    --container-color: #8A8896;
    --inner-container-color: #FFFFFF;
    --main-text-color: #ECEFFF;
    --secondary-text-color: #D1CED6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color);
}

/* Structure */

#content {
    padding: 5px;
    margin: auto; /* center horizontally */
}

.flex-container,
.desc {
    display: flex;
    
}

.bounce-ball-flex {
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.desc {
    justify-content: center;
    align-items: center;
}

.col-1-of-2 {
    flex: 1;
}


#bounce-ball,
#yoga-fun {
    border: var(--main-text-color);
    background-color: var(--container-color);
}

#yoga-fun {
    padding: 20px 0px;
}

#yoga-fun h3 {
    padding-bottom: 20px;
}

#img-ball {
    width: 70px;
    position: relative;
    top: 0px;
}
#ball-container {
    width: 120px;
    height: 350px;
    background-color: var(--inner-container-color);
    border: 1px solid var(--main-text-color);
    margin: auto;
}


#bounce-ball {
    text-align: center;
}
.col-1-of-2 {
    flex: 1;
}

.imgs-yoga img {
    display: block;
    margin: auto;
    max-width: 80%;
}

.hide {
    display: none;
}

/* Navigation */

button {
    background: transparent;
    border: transparent;
}

#main-nav ul {
    padding-left: 0px;
}

#main-nav li {
    list-style-type: none;
}

/* Typography */

header,
#yoga-fun h3 {
    text-align: center;
}

button {
    font-size: 15px;
}

#btn-ball {
    text-decoration: underline;
}

h1,
button,
h3,
p,
a:visited {
    color: var(--main-text-color);
}

h2 {
    color: var(--secondary-text-color);
}

a {
    color: var(--background-color);
}



@media only screen and (min-width: 900px) {
    
    #main-nav li {
        display: inline-block;
    }

    #main-nav li:not(:last-child)::after {
        content: " | ";
        color: var(--main-text-color);
    }

    #drop-down {
        display: none;
    }

    #content {
        width: 40%;
    }
}